.connections {
    width: 190px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}

.forgotpass{
    position: relative;
}
.forgotpass::after {
    content: 'forgot password?';
    position: absolute;
    bottom: -3px;
    left: 270px;
    display: block;
    width: 100%;
    height: 1px;
    color: #0C2A92;
    margin-top: 2px;

}