.welcomeContainer {
  background-image: url("@/assets/public/img/2.jpg");
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: -1;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.welcomeMessage {
  font-size: 100px;
  font-family: "Chango";
  color: #000000;
  text-shadow: 4px 2px 2px #f4f997;
  margin: 0 !important;
}
.welcomeTitle {
  font-size: 32px;
  font-family: "Geologica", cursive;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  margin: 0 !important;
}
.username {
  color: #000000;
  font-size: 90px;
  font-family: "Chango";
  margin: 0;
}

.logoutLink {
  all: unset;
  background-color: #0a1629;
  margin: 55px 0 !important;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.logoutLink a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Geologica", cursive;
}
.logoutLink:hover {
  background-color: #0a1629dc;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* persian fonts */
[dir="rtl"] .logoutLink a {
  font-family: "Yekan", sans-serif;
}
[dir="rtl"] .welcomeTitle,
[dir="rtl"] .welcomeMessage {
  font-family: "Lalezar", sans-serif;
}

/* english fonts */
html[lang="en"] .logoutLink a {
  font-family: "BricolageBold" sans-serif;
}
html[lang="en"] .welcomeMessage {
  font-family: "Chango", cursive;
}
html[lang="en"] .welcomeTitle {
  font-family: "Geologica", cursive;
}

/* korean fonts */
html[lang="ko"] .welcomeTitle,
html[lang="ko"] .welcomeMessage {
  font-family: "CafeDongdong", cursive;
}
html[lang="ko"] .logoutLink a{
  font-family: "JejuMyeongjo", serif;
}

@media screen and (max-width: 720px) {
  .welcomeMessage {
    font-size: 35px !important;
    margin-bottom: 15px !important;
  }
  .welcomeTitle {
    font-size: 18px !important;
  }
}
