.welcomeContainer {
  background-image: url("@/assets/public/img/2.jpg");
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: -1;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.welcomeMessage {
  font-size: 100px;
  font-family: "Chango";
  color: #000000;
  filter: drop-shadow(4px 4px 4px #0c3c85);
  margin: 0 !important;
}
.welcomeTitle {
  font-size: 32px;
  font-family: "Geologica";
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  margin: 0 0 55px 0;
}
.username {
  color: #000000;
  font-size: 90px;
  font-family: "Chango";
  margin: 0;
}

.welcomeLink {
  all: unset;
  background-color: #0a1629;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-family: "Geologica";
}
.welcomeLink:hover {
  background-color: #0a1629dc;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
