/* fonts */
@font-face {
    font-family: "BricolageBold";
    src: url('../public/fonts/BricolageBold.ttf') format('truetype');
}
@font-face {
    font-family: "Geologica";
    src: url('../public/fonts/Geologica.ttf') format('truetype');
}
@font-face {
    font-family: "Chango";
    src: url('../public/fonts/Chango.ttf') format('truetype');
}
@font-face {
    font-family: "JosefinSans";
    src: url('../public/fonts/JosefinSans.ttf') format('truetype');
}


/* Custom SweetAlert Font */
.custom-swal {
    font-family: "BricolageBold" !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}


/* login and sign up Common css styles */
.connections {
    width: 190px;
    height: 32px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}

.auth-title {
    font-family: "Geologica";
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.01em;
    gap: 10px;
}

.auth-text-field {
    width: 404px;
    height: 58px;
}

.auth-button-base {
    width: 404px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
}

.auth-primary-button {
    background-color: #3A5B22;
    border: 1px solid #3A5B22;
}

.auth-primary-button:hover {
    background-color: #2d4619;
}

.auth-disabled-button {
    color: #666666;
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.auth-disabled-button:hover {
    background-color: #cccccc;
}

.auth-or-text {
    margin-top: 16px;
    text-align: center;
}

.auth-connections-stack {
    width: 100%;
    margin-top: 16px;
    justify-content: center;
}

.auth-bottom-text {
    margin-top: 24px;
    text-align: center;
}

.auth-link {
    text-decoration: none;
}

.auth-image-box {
    width: 781.5px;
    height: auto;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

@media (max-width: 900px) {
    .auth-image-box {
        max-width: 100%;
    }
}

/* Social Login Icons */
.google-icon {
    color: #4285F4 !important;
}

.apple-icon {
    color: #000000 !important;
}