/* en fonts */
@font-face {
  font-family: "BricolageBold";
  src: url("@/assets/public/fonts/en/BricolageBold.ttf") format("truetype");
}
@font-face {
  font-family: "Geologica";
  src: url("@/assets/public/fonts/en/Geologica.ttf") format("truetype");
}
@font-face {
  font-family: "Chango";
  src: url("@/assets/public/fonts/en/Chango.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSans";
  src: url("@/assets/public/fonts/en/JosefinSans.ttf") format("truetype");
}
/* fa fonts */
@font-face {
  font-family: "VazirBold";
  src: url("@/assets/public/fonts/fa/VazirBold.woff2") format("woff2");
}
@font-face {
  font-family: "VazirMedium";
  src: url("@/assets/public/fonts/fa/VazirMedium.woff2") format("woff2");
}
@font-face {
  font-family: "Lalezar";
  src: url("@/assets/public/fonts/fa/LalezarRegular.otf") format("opentype");
}
@font-face {
  font-family: "Yekan";
  src: url("@/assets/public/fonts/fa/BYekan.ttf") format("truetype");
}
@font-face {
  font-family: "YekanBold";
  src: url("@/assets/public/fonts/fa/BYekanBold.ttf") format("truetype");
}
/* ko fonts */
@font-face {
  font-family: "CafeDongdong";
  src: url("@/assets/public/fonts/ko/Cafe24Dongdong-v2.0.woff") format("woff");
}
@font-face {
  font-family: "MoneygraphyRounded";
  src: url("@/assets/public/fonts/ko/Moneygraphy-Rounded.woff") format("woff");
}
@font-face {
  font-family: "JejuMyeongjo";
  src: url("@/assets/public/fonts/ko/JejuMyeongjo-Regular.ttf") format("truetype");
}

/* Custom SweetAlert Font */
.custom-swal {
  font-family: "BricolageBold" !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

/* login and sign up Common css styles */
.connections {
  width: 190px;
  height: 32px;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.auth-title {
  font-family: "Geologica";
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.01em;
  gap: 10px;
}

.auth-text-field {
  width: 404px;
  height: 58px;
  margin: 5px 0px;
}
.auth-checkBox {
  margin: 2px 0;
}
.auth-button-base {
  width: 404px;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.auth-primary-button {
  background-color: #3a5b22;
  border: 1px solid #3a5b22;
}

.auth-primary-button:hover {
  background-color: #2d4619;
}

.auth-disabled-button {
  color: #666666;
  background-color: #cccccc;
  border: 1px solid #cccccc;
}

.auth-disabled-button:hover {
  background-color: #cccccc;
}

.auth-or-text {
  margin-top: 16px;
  text-align: center;
}

.auth-connections-stack {
  width: 100%;
  margin-top: 16px;
  justify-content: center;
}

.auth-bottom-text {
  margin-top: 24px;
  text-align: center;
}

.auth-link {
  text-decoration: none;
}

.auth-image-box {
  width: 781.5px;
  height: auto;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

/* Social Login Icons */
.google-icon {
  color: #4285f4 !important;
}

.apple-icon {
  color: #000000 !important;
}

/* media query */
@media (max-width: 900px) {
  .auth-image-box {
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .auth-text-field , .auth-button-base  {
    max-width: 70% !important;
  }
  label {
    display: flex;
    justify-content: center;
    position: relative;
    left: 8%;
  }
}

/* persian font */
html[lang="fa"] h1,
html[lang="fa"] h2,
html[lang="fa"] h3,
html[lang="fa"] h4,
html[lang="fa"] h5,
html[lang="fa"] h6,
html[lang="fa"] p,
html[lang="fa"] span,
html[lang="fa"] .auth-primary-button,
html[lang="fa"] input::placeholder,
html[lang="fa"] .auth-title {
  font-family: "Yekan", sans-serif;
}

/* english font */
html[lang="en"] body {
  font-family: "Geologica", "JosefinSans", sans-serif;
}

/* korean font */
html[lang="ko"] body {
  font-family: "PinkfongBabySharkBold",  sans-serif;
}
html[lang="ko"] .auth-primary-button,
html[lang="ko"] .auth-title {
  font-family: "MoneygraphyRounded",  sans-serif;
}
html[lang="ko"] input::placeholder{
  font-family: "JejuMyeongjo",  sans-serif;
}
html[lang="ko"] span,
html[lang="ko"] p {
  font-family: "JejuMyeongjo",  sans-serif;
}