.changeLang {
  position: relative;
  z-index: 1000;
}

.langBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 40px;
}

.langButton {
  all: unset;
  cursor: pointer;
}
.langDropdown {
  margin: 10px 0 !important;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
}
.langList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.langList li {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.langList li:hover {
  background-color: #f5f5f5;
}

.flagImage {
  width: 24px;
  height: 24px;
  cursor: pointer;
}